body { font-family: Arial, Helvetica, sans-serif; }

td { font-family: Arial, Helvetica, sans-serif; }

th { font-family: Arial, Helvetica, sans-serif; }

.shenhong :link {
    color: #990000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
}

.shenhong :visited {
    color: #990000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
}

.shenhong :hover {
    color: #3300FF;
    font-family: "宋体";
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
}

.shenhong :active {
    color: #990000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
}

.daohangh:link {
    color: #E7ECEF;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.daohangh:visited {
    color: #E7ECEF;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.daohangh:hover {
    color: #FFFF00;
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.daohangh :active {
    color: #FFFF00;
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.shenlan :link {
    color: #1C5785;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.shenlan :visited {
    color: #1C5785;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.shenlan :hover {
    color: #FF6600;
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.shenlan :active {
    color: #1C5785;
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.hongcu {
    color: #CC0000;
    font-family: "宋体";
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
}

.danhuang {
    color: #FFFFCC;
    font-family: "宋体";
    font-size: 12px;
    line-height: 22px;
}

.shenlan {
    color: #1C5785;
    font-family: "宋体";
    font-size: 12px;
    line-height: 22px;
}

.chengse {
    color: #FF6600;
    font-family: "宋体";
    font-size: 12px;
    line-height: 22px;
}

.shenlancu {
    color: #006FC3;
    font-family: "宋体";
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
}

.huise:link {
    color: #383C2B;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.huise:visited {
    color: #383C2B;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.huise:hover {
    color: #FF0000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.huise:active {
    color: #383C2B;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.hong:link {
    color: #FF0000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.hong:visited {
    color: #FF0000;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.hong:hover {
    color: #FF0000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.hong:active {
    color: #FF0000;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

.banhui {
    color: #333333;
    font-family: "宋体";
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
}

.henhong {
    color: #990000;
    font-family: "宋体";
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
}

.huise1 {
    color: #383C2B;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    text-decoration: none; 